

<style>
body {
    background-color:#999;
    background-repeat:no-repeat;
    background-position: center;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: center;

    
}


.blurb{
    text-align: center;
}


.image{
    background-color:aqua;
}


.wetransform{
    font-weight:lighter;
}


nav ul li, footer ul li {
    display: inline;
    margin-right: 10px; /*declares space between each tab*/
    color:white;
    margin-bottom: 1px;
}
a {
    color:#66C7BD;
    
}
a:hover {
    text-decoration: underline;
}


.body{
    background-image:url("https://dynaimage.cdn.cnn.com/cnn/q_auto,w_1100,c_fill,g_auto,h_619,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F171219175320-shanti1.jpg")
}
.hi{
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    left: 0;
    line-height: 100px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color:#FAFAFA;

}
.footer{
    
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: center;
    line-height: 400px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    animation: fadeIn 3s;
    font-weight:bold;
    
}

/*
.lower{
    background-color:black;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:2px;
    padding-right:2px;
}
*/
body{
    background-image:url("https://dynaimage.cdn.cnn.com/cnn/q_auto,w_1100,c_fill,g_auto,h_619,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F171219175320-shanti1.jpg");
    background-repeat:no-repeat;
    
}
.welcome{
       left: 0;
    
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    animation: fadeIn 5s;
    font-weight:bold;
    color:#EFEFEF;

    
}
.topbar{
    color:aqua;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #999;
}
footer {
    border-top: 3px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.about{
    animation:fadeIn 5s;
    text-align: center;
    font-weight:bold;
    color:white;
}
h2{
    color:white;
}
h1{
    animation:fadeIn 5s;
    color:white;
}

.blurb{
    font-family:helvelica;
    
    
}
@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
} 

.aboutp{
    color:white;
}

.bottombar{
    color:black;
    width:10%;
    height:10%;
}


/*environmentally friendly thene, show travelling/tourism in simple design*/

