<style>

body {
    background-color:white;
    background-repeat:no-repeat;
    background-position: center;
    background-size:100%;
    height:auto;
}

.topbar{
    background-color:black;
    padding-top:1px;
    padding-bottom: 1px;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: center;
}


.wetransform{
    font-weight:lighter;
}


nav ul li, footer ul li {
    display: inline;
    margin-right: 10px; /*declares space between each tab*/
    color:blue;
    margin-bottom: 1px;  
}

a {
    color:#66C7BD;
    
}
a:hover {
    text-decoration: underline;
}

footer {
    border-top: 3px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.about{
    animation:fadeIn 5s;
    text-align: center;
    font-weight:bold;
    color:white;
}
p {
    text-align: center;
    line-height: 1.4em;
    color: #999;
}

h3{
    color:white;
    text-align: center;
}

h2{
    color:white;
    text-align: center;
}
h1{
    animation:fadeIn 5s;
    color:white;
    text-align: center;
}
.container{
    height:100%;
}

.footerroll{
    border-top:3px;
    left:0px;
    width:100%;
    bottom:0px;
    position:fixed;
    color:white;
    
}
/*
.blurb{
    height:1000px;
}
*/

.aboutp{
    color:white;
}

.bottombar{
    color:black;
    width:10%;
    height:10%;
}

@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
} 

/*environmentally friendly thene, show travelling/tourism in simple design*/

