
body {
    background-color:white;
    background-repeat:no-repeat;
    background-position: center;
    background-size:100%;
    height:auto;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: center;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 10px; /*declares space between each tab*/
    color:blue;
    margin-bottom: 1px;  
}

a {
    color:#66C7BD;
    
}
a:hover {
    text-decoration: underline;
}

footer {
    border-top: 3px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.about{
    animation:fadeIn 5s;
    text-align: center;
    font-weight:bold;
    color:white;
}
p {
    text-align: center;
    line-height: 1.4em;
    color: white;
}

h3{
    color:white;
    text-align: center;
}

h2{
    color:white;
    text-align: center;
}
h1{
    animation:fadeIn 5s;
    color:white;
    text-align: center;
}
.container{
    height:100%;
}

.footerroll{
    border-top:3px;
    left:0px;
    width:100%;
    bottom:0px;
    position:fixed;
    color:white;
    
}


.bottombar{
    color:black;
    width:10%;
    height:10%;
}



@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
} 


@media screen and (min-width : 40px) and (max-width : 340px) {
    img{
        width:200px;
        height:90px;
    }

}
@media screen and (min-width : 341px) and (max-width : 380px) {
    img{
        width:300px;
        height:100px;
    }   
}


@media screen and (min-width : 381px) and (max-width : 400px) {
    img{
        width:350px;
        height:120px;
    }
}

@media screen and (min-width : 401px) and (max-width : 1140px) {
    img{
        width:1000px;
        height:250px;
    }
}


@media screen and (min-width : 1141px) and (max-width : 1440px) {
    img{
        width:1400px;
        height:300px;
    }
}

@media screen and (min-width : 1441px) and (max-width : 1700px) {
    img{
        width:1680px;
        height:350px;
    }
}

@media screen and (min-width : 1701px) and (max-width : 2000px) {
    img{
        width:1920px;
        height:350px;
    }
}


